
input {
    width: 300px;
    height: 50px;
}
.gallery {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

}

.load-more.hidden {
display: none;
}

.container{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;

  }
  .search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
  }

  .info {

    padding: 10px;
  }
  .load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .photo-card {
    background-color: rgb(243, 237, 237);
    border-radius: 4px;
  }
